@layer global {
  /* source-sans-3-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    /* Colors */
    --clr-white: #ffffff;
    --clr-dark-gray: #383a4a;
    --clr-dark-gray-40: rgba(55, 57, 73, 0.4);
    --clr-purple: #495bcf;
    --clr-teal: #00d3d4;
    --clr-teal-dark: #00bdbd;
    --clr-transparent: transparent;
    --clr-fuchsia: #bf1085;
    --clr-yellow: #fed710;
    --clr-blue: #2519af;

    --color-main-bg: var(--clr-white);
    --color-text-dark: var(--clr-dark-gray);
    --color-text-light: var(--clr-white);
    --color-text-link: var(--clr-fuchsia);
    --color-header-bg: var(--clr-purple);
    --color-topnav-gradient-1: var(--clr-teal);
    --color-topnav-gradient-2: var(--clr-yellow);
    --color-hero-bg: var(--clr-purple);
    --color-button-primary-bg: var(--clr-teal);
    --color-button-primary-bg-hover: var(--clr-teal-dark);
    --color-button-primary-border: var(--clr-teal);
    --color-button-primary-border-hover: var(--clr-teal-dark);
    --color-button-primary-text: var(--clr-dark-gray);

    --color-button-primary-white-bg: var(--clr-white);
    --color-button-primary-white-bg-hover: var(--clr-teal);
    --color-button-primary-white-border: var(--clr-white);
    --color-button-primary-white-border-hover: var(--clr-teal);
    --color-button-primary-white-text: var(--clr-dark-gray);

    --color-button-secondary-bg: var(--clr-transparent);
    --color-button-secondary-bg-hover: var(--clr-white);
    --color-button-secondary-border: var(--clr-white);
    --color-button-secondary-text: var(--clr-white);
    --color-button-secondary-text-hover: var(--color-hero-bg);
    --color-blog-gradient-1: var(--clr-blue);
    --color-blog-gradient-2: var(--clr-fuchsia);
    --color-blog-shadow: var(--clr-dark-gray-40);

    --color-fullwidth-bg: var(--clr-fuchsia);
    --color-cta-gradient-1: var(--clr-dark-gray);
    --color-cta-gradient-2: var(--clr-purple);
    --color-cta-gradient-3: var(--clr-teal);

    --color-footer-link-hover: var(--clr-fuchsia);
    --color-blog-link-hover: var(--clr-fuchsia);

    /* Fonts */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-36: 2.25rem;
    --fs-42: 2.625rem;
    --fs-44: 2.75rem;
    --fs-48: 3rem;
    --fs-72: 4.5rem;

    --font-size-topnav: var(--fs-14);
    --font-size-h1: clamp(2.625rem, 1.5rem + 4.8vw, 4.5rem);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);
    --font-size-h3-large: var(--fs-36);
    --font-size-button: var(--fs-18);
    --font-size-pre-title: var(--fs-20);
    --font-size-quote: var(--fs-24);
    --font-size-quote-author: var(--fs-20);

    @media (width >= 37.5rem) {
      --font-size-topnav: var(--fs-16);
      --font-size-h2: var(--fs-48);
      --font-size-h3-large: var(--fs-44);
      --font-size-pre-title: var(--fs-24);
      --font-size-quote: var(--fs-36);
      --font-size-quote-author: var(--fs-24);
    }
  }

  /* CSS Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*Typography */
  body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: var(--color-text-dark);
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);

    &.large {
      font-size: var(--font-size-h3-large);
    }
  }

  p {
    font-size: var(--fs-18);

    &.small {
      font-size: var(--fs-16);
    }

    &.medium {
      font-size: var(--fs-20);

      @media (width >= 37.5rem) {
        font-size: var(--fs-24);
      }
    }

    &.large {
      font-size: var(--fs-24);

      @media (width >= 37.5rem) {
        font-size: var(--fs-28);
      }
    }

    > a {
      color: var(--color-text-link);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /*Layout */
  .wrapper {
    max-width: 1200px;
    width: calc(100% - 48px);
    margin-inline: auto;
    padding-block: 60px;

    @media (width >= 62.5rem) {
      padding-block: 80px;
    }
  }
}

@layer component {
  .button {
    display: inline-block;
    cursor: pointer;
    border-radius: 24px;
    font-size: var(--font-size-button);
    font-weight: 700;
    font-family: inherit;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 14px;
    transition: 0.2s ease-in-out;
    transition-property: background-color, border-color, color;

    &.button-primary {
      background-color: var(--color-button-primary-bg);
      color: var(--color-button-primary-text);
      border: 2px solid var(--color-button-primary-border);

      &:hover,
      &:focus {
        background-color: var(--color-button-primary-bg-hover);
        border-color: var(--color-button-primary-border-hover);
      }

      &.white {
        background-color: var(--color-button-primary-white-bg);
        color: var(--color-button-primary-text);
        border: 2px solid var(--color-button-primary-white-border);

        &:hover,
        &:focus {
          background-color: var(--color-button-primary-white-bg-hover);
          border-color: var(--color-button-primary-white-border-hover);
        }
      }
    }

    &.button-secondary {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);
      border: 2px solid var(--color-button-secondary-border);

      &:hover,
      &:focus {
        background-color: var(--color-button-secondary-bg-hover);
        color: var(--color-button-secondary-text-hover);
      }
    }
  }

  .topnav {
    background-color: var(--color-header-bg);

    .topnav__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 0.75rem;

      @media (width >= 37.5rem) {
        padding-block: 1.25rem;
      }
    }

    .topnav__homelink {
      transition: opacity 0.2s ease-in-out;
      &:hover,
      &:focus {
        opacity: 0.9;
      }
    }

    .topnav__logo {
      width: 4.375rem;

      @media (width >= 37.5rem) {
        width: 8rem;
      }
    }

    .topnav__links {
      list-style-type: none;
      display: flex;
      gap: 1.25rem;

      @media (width >= 37.5rem) {
        gap: 2.5rem;
      }
    }

    .topnav__link {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: var(--font-size-topnav);
      font-weight: 700;
      color: var(--color-text-light);

      &::after {
        content: '';
        display: block;
        height: 3px;
        background: linear-gradient(
          to right,
          var(--color-topnav-gradient-1),
          var(--color-topnav-gradient-2) 82%
        );
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .hero {
    background-color: var(--color-hero-bg);
    background-image: url('./assets/icons/hero-wave.svg');
    background-repeat: no-repeat;
    background-position: center calc(100% + 5px);
    background-size: 1440px auto;
    color: var(--color-text-light);

    @media (width >= 62.5rem) {
      background-position: -5px calc(100% + 5px);
      background-size: calc(100% + 10px) auto;
    }

    .hero__wrapper {
      display: grid;
      padding-block: 30px 120px;

      @media (width >= 62.5rem) {
        grid-template-columns: 6fr 5fr;
        padding-block: 80px 0;
      }
    }

    .hero__image {
      width: clamp(12.5rem, 1.8874999999999993rem + 45.28vw, 30.1875rem);
      margin-block-end: 40px;
      justify-self: center;

      @media (width >= 62.5rem) {
        order: 2;
        margin-block-end: 0;
        justify-self: end;
      }
    }

    .hero__title {
      font-size: var(--font-size-h1);
      margin-block-end: 12px;

      @media (width >= 37.5rem) {
        margin-block-end: 20px;
      }
    }

    .hero__content {
      margin-block-end: 40px;
      max-width: 50ch;
    }

    .hero__buttons {
      display: flex;
      gap: 20px;
    }
  }

  .features {
    .features__wrapper {
      display: grid;
      gap: 40px;
      justify-items: center;

      @media (width >= 62.5rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .features__item {
      display: grid;
      grid-auto-rows: min-content;
      gap: 10px;
      justify-items: center;

      @media (width >= 62.5rem) {
        justify-items: start;
      }
    }

    .features__title {
      line-height: 1;
    }

    .features__description {
      text-align: center;
      max-width: 40ch;
      margin-inline: auto;

      @media (width >= 62.5rem) {
        text-align: left;
        margin-inline: 0;
        max-width: 38ch;
      }
    }
  }

  .fw-investment {
    background-color: var(--color-fullwidth-bg);
    color: var(--color-text-light);
    text-align: center;
    .fw-investment__title {
      margin-block-end: 20px;
      max-width: 20ch;
      margin-inline: auto;

      @media (width >= 62.5rem) {
        max-width: unset;
      }
    }

    .fw-investment__description {
      margin-block-end: 40px;
      max-width: 40ch;
      margin-inline: auto;

      @media (width >= 62.5rem) {
        max-width: 70ch;
      }
    }

    .fw-investment__image {
      margin-inline: auto;
      max-width: 49.5rem;
      width: 100%;
    }
  }

  .alt-features {
    .alt-features__wrapper {
      display: grid;
      gap: 60px;

      @media (width >=62.5rem) {
        gap: 80px;
      }
    }

    .alt-features__item {
      display: grid;
      gap: 40px 100px;

      @media (width >= 62.5rem) {
        grid-template-columns: 5fr 6fr;
        align-items: center;
        &:nth-child(odd) {
          grid-template-columns: 6fr 5fr;
          .alt-features__image {
            order: 2;
          }
        }
      }
    }

    .alt-features__image {
      justify-self: center;
      @media (width < 37.5rem) {
        max-width: 12.5rem;
        max-height: 12.5rem;
      }
    }

    .alt-features__text {
    }

    .alt-features__title {
      line-height: 1;
      margin-block-end: 10px;
    }

    .alt-features__pre-title {
      font-size: var(--font-size-pre-title);
      display: block;
      text-transform: uppercase;
      margin-block-end: 10px;
    }

    .alt-features__description {
    }
  }

  .testimonial {
    --color-bg: var(--color-main-bg);
    --color-text: var(--color-text-dark);
    --color-icon: var(--clr-teal);

    &.dark {
      --color-bg: var(--clr-purple);
      --color-text: var(--color-text-light);
      --color-icon: rgba(255, 255, 255, 0.5);
    }

    background-color: var(--color-bg);
    color: var(--color-text);
    .testimonial__wrapper {
    }

    .testimonial__figure {
      @media (width >= 62.5rem) {
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          'l-quote quote quote quote quote r-quote'
          '. author author author author .';
      }
    }

    .testimonial__icon {
      width: 3.25rem;
      margin-block-end: 20px;

      @media (width >= 37.5rem) {
        width: 4.875rem;
        margin-block-end: 30px;
      }

      &:first-child {
        @media (width >= 62.5rem) {
          grid-area: l-quote;
          justify-self: end;
        }
      }

      &:last-child {
        display: none;

        @media (width >= 62.5rem) {
          display: block;
          grid-area: r-quote;
          align-self: end;
          margin-block-end: 0;
          rotate: 180deg;
        }
      }
    }

    .testimonial__icon-path {
      fill: var(--color-icon);
    }

    .testimonial__blockquote {
      @media (width >= 62.5rem) {
        grid-area: quote;
        padding-block-start: 40px;
      }
    }

    .testimonial__quote-text {
      font-size: var(--font-size-quote);
      font-weight: 700;
      margin-block-end: 30px;

      @media (width >= 37.5rem) {
        margin-block-end: 40px;
      }
    }

    .testimonial__author-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;

      @media (width >= 37.5rem) {
        flex-direction: row;
        text-align: left;
        gap: 30px;
      }

      @media (width >= 62.5rem) {
        grid-area: author;
      }
    }

    .testimonial__author-image {
      width: 7.5rem;
      border-radius: 50%;
    }
  }

  .blog {
    .blog__title {
      text-align: center;
      margin-block-end: 40px;
    }

    .blog__grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));
    }

    .blog__item {
      display: grid;
      grid-template: 1fr / 1fr;
      border-radius: 16px;
      overflow: hidden;

      > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }
    }

    .blog__image {
      max-height: 21.875rem;
      height: 100%;
      object-fit: cover;
    }

    .blog__filter {
      background: linear-gradient(
        45deg,
        var(--color-blog-gradient-1) 30%,
        var(--color-blog-gradient-2) 100%
      );
      mix-blend-mode: lighten;
    }

    .blog__text {
      background-color: var(--color-main-bg);
      margin: 10px;
      padding: 16px;
      border-radius: 8px;
      align-self: center;
      display: grid;
      gap: 16px;
      isolation: isolate;
      box-shadow: 0px 4px 10px var(--color-blog-shadow);
    }

    .blog__post-link {
      color: var(--color-text-dark);
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--color-blog-link-hover);
      }
    }

    .blog__post-meta {
      display: flex;
      justify-content: space-between;
      > * {
        font-size: var(--fs-14);
      }
    }

    .blog__post-datetime {
      text-transform: uppercase;
    }
  }

  .fw-cta {
    background: linear-gradient(
      to right,
      var(--color-cta-gradient-1) 0%,
      var(--color-cta-gradient-2) 75%,
      var(--color-cta-gradient-3) 150%
    );
    color: var(--color-text-light);
    text-align: center;
    @media (width >= 62.5rem) {
      background: linear-gradient(
        to right,
        var(--color-cta-gradient-1) 0%,
        var(--color-cta-gradient-2) 55%,
        var(--color-cta-gradient-3) 120%
      );
    }

    .fw-cta__wrapper {
      text-align: center;
    }

    .fw-cta__title {
      margin-block-end: 20px;
    }

    .fw-cta__description {
      margin-block-end: 40px;
    }

    .fw-cta__button {
    }
  }

  .footer {
    .footer__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;

      @media (width >= 62.5rem) {
        grid-template-columns: repeat(4, auto);
      }
    }

    .footer__top {
      grid-column: 1 / -1;
    }

    .footer__homelink {
      display: block;
      width: fit-content;
      transition: opacity 0.2s ease-in-out;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    .footer__logo {
      width: 8rem;
      margin-block-end: 10px;
    }

    .footer__copyright {
    }

    .footer__column {
    }

    .footer__title {
      font-size: 1.375rem;
      margin-block-end: 6px;
    }

    .footer__links {
      list-style-type: none;
      padding: 0;
      display: grid;
      gap: 6px;
    }

    .footer__item {
    }

    .footer__link {
      font-size: 1.125rem;
      color: var(--color-text-dark);
      transition: color 0.2s ease-in-out;
      display: inline-flex;
      gap: 16px;
      align-items: center;

      &:hover,
      &:focus {
        color: var(--color-footer-link-hover);

        .footer__social-path {
          fill: var(--color-footer-link-hover);
        }
      }
    }

    .footer__social-svg {
      width: 1.125rem;
    }

    .footer__social-path {
      fill: var(--color-text-dark);
      transition: fill 0.2s ease-in-out;
    }
  }
}

@layer utility {
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .visually-hidden.skip:focus {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid;
  }
}
